CHROME_PORT=9222
ANTHROPIC_API_KEY=ac2c7b9a91dc46319c8aeda6a55479d8.RcqVwXUjMAelkZ7e
ANTHROPIC_BASE_URL=https://api.z.ai/api/anthropic
ANTHROPIC_MODEL=claude-sonnet-4-20250514
ANTHROPIC_TIMEOUT_MS=90000
